/* 

@mixin example {
    color: ...;
    font-size: ...;
} 

nav ul {
    @include example;
}


*/
* {
  margin: 0;
  font-family: "Secular One", sans-serif;
}

body {
  height: 100vh;
  background: black;
}

@keyframes moving_1 {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  25% {
    transform: translateX(-50px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(0px);
    opacity: 1;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes moving_2 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  25% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(0px);
    opacity: 1;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes moving_3 {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  25% {
    transform: translateX(50px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(0px);
    opacity: 1;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
#circle_1,
#circle_2,
#circle_3 {
  border-radius: 50%;
  position: absolute;
  z-index: -50;
}

#circle_1 {
  background: linear-gradient(purple, red);
  width: 45rem;
  height: 45rem;
  top: 20%;
  right: 10%;
  animation: moving_1 13s linear infinite;
}

#circle_2 {
  background: linear-gradient(blue, purple);
  width: 55rem;
  height: 55rem;
  top: 5%;
  right: 40%;
  animation: moving_2 22s linear infinite;
}

#circle_3 {
  background: linear-gradient(blue, pink);
  width: 50rem;
  height: 50rem;
  top: 40%;
  left: 40%;
  animation: moving_3 11s linear infinite;
}

#header {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 3em;
  z-index: -10;
  color: white;
}

#overlay_win {
  display: none;
  position: absolute;
  top: 0;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(70, 146, 58, 0.8);
  z-index: 100;
  transition: all 1s;
}

#announcer {
  color: black;
  display: flex;
  height: 100%;
  font-size: 4em;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

#reset {
  position: fixed;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  z-index: 150;
}

.panel {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 20px;
  transition: all 0.5s;
  background: rgba(83, 83, 83, 0.479);
  backdrop-filter: blur(20px);
}

.flipped {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  overflow: hidden;
  position: relative;
  z-index: -1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  display: none;
  display: none;
}

input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-main {
  display: flex;
  justify-content: center;
  height: auto;
  perspective: 700px;
}

svg {
  height: 50%;
  width: 50%;
}

.container-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  row-gap: 20px;
  column-gap: 20px;
  margin: 10px auto;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

@media (min-width: 768px) {
  .container-grid {
    width: 600px;
    height: 600px;
  }

  #announcer {
    font-size: 5em;
  }
}

/*# sourceMappingURL=output.css.map */
