// $color-x: #e8523f;
// $color-o: #3fd7e8;
$color-background: #afafaf;
$color-row: #3fe850;
// $color-x-inverted: #3fd7e8;
// $color-o-inverted: #e8523f;
$color-tie: rgba(0,0,0,.6);
$color-win: rgba(70, 146, 58, 0.8);